* {
    margin: 0;
}

html, body {
    font-size: 18px;
    font-family: sans-serif;
    color: #222;
}

h1 {
    margin-bottom: 5px; 
    margin: 5px 25px; 
}

input, select, textarea {
    background: none;
    border: 1px solid black;
    outline: none; 
}

button:hover {
    background: orangered;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 510px; 
    margin: 10px 10px; 
    background: #f1f1f1;
} 

.listbase
{
    margin: 5px 35px; 
}

.SERP
{
    width: 200px; 
}

table {
    width: 60%;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto; /* Центрирование таблицы */
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
th:nth-child(1) {
    max-width: 100px;
}
th:nth-child(2) {
    max-width: 150px;
}

td:nth-child(1), td:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
td:nth-child(1) {
    max-width: 100px;
}
td:nth-child(2) {
    max-width: 150px;
}
td:nth-child(3) {
    text-align: center;
    width: 50px;
}


.highlight {
    background-color: #ffffe0; /* светло-желтый цвет */
}

/*Работа с буфером обмена*/
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
/*Работа с буфером обмена*/

  /* Блок поиска прижимаем вправо */
  .right_form {
    float: right;
  }
